body {
    background: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-color: #F5F7FF;
}

.content {
    margin:0px auto;
    text-align: center;
    background-color: #fff;
    width: 450px;
    height: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-content {
    background-color: red;
}