body {
  background: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  background-color: #e0e8ff;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

/* Font */

.wrapper h2,
.item-2 :nth-child(1) {
  color: #1f2f56;
  font-weight: 900;
}

.wrapper p,
.wrapper .cancel-button,
.item-2 :nth-child(3) {
  color: #7280a7;
}

.item-3 {
  color: #3829e0;
}

.wrapper h2 {
  font-size: 28px;
  margin-bottom: 0;
}

.wrapper .cancel-button {
  font-weight: 600;
}

/* Main content */

.content {
  margin: 0px auto;
  text-align: center;
  background-color: #fff;
  width: 450px;
  height: 680px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: rgb(56 41 224 / 20%) 0px 20px 30px;
}

.content-image {
  border-radius: 20px 20px 0 0;
}

.wrapper {
  margin: 40px 50px 40px 50px;
}

.container,
.cta,
.cancel-button {
  margin-top: 28px;
}

/* Container */

.container {
  display: flex;
  background-color: #f5f7ff;
  border-radius: 10px;
  align-items: center;
  padding: 20px;
}

.item-2 {
  flex-grow: 2;
  text-align: left;
  padding-left: 20px;
  line-height: 25px;
}

.cta {
  color: #fff;
  background-color: #3829e0;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  box-shadow: rgb(56 41 224 / 20%) 0px 20px 30px;
}

/* Hover styling */

.cta:hover {
  background-color: #7E70FF;
}

.item-3 a:hover {
  color: #7E70FF;
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  position: fixed;
  bottom: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.cancel-button:hover {
  color: #1f2f56;
}

@media only screen and (max-width: 375px) {
  body {
    background: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-color: #e0e8ff;
  }

  .content-image {
    width: 330px;
  }

  .content {
    width: 330px;
    height: 600px;
  }

  .wrapper {
    margin: 30px 25px 0px 25px;
  }

  .wrapper h2 {
    font-size: 23px;
  }

  .wrapper p {
    padding: 0 8px 0 8px;
    line-height: 25px;
  }

  
}
